<h4><%= link_to "Edit Place", "#{@place.id}/edit", {:class => 'btn btn-primary btn-xs'} %></h4>

<h2><%= @place.title %></h2>
<h4><%= @place.photo_url %></h4>
<h4><%= number_to_currency @place.admission_price.to_f / 100 %></h4>
<%= @place.description %>
